In [8]:
import pandas as pd
import numpy as np
dat={'Temperature':['Hot','Cold','Very Hot','Hot','Warm', 'Warm', 'Hot', 'Hot', 'Cold','Very Hot'],
'Color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
'Target':[1,1,1,0,1,0,1,0,1,1]}
df=pd.DataFrame(dat,columns=['Temperature','Color','Target'])
df1=df

In [5]:
df

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3         Hot    Blue       0
4        Warm     Red       1
5        Warm  Yellow       0
6         Hot     Red       1
7         Hot  Yellow       0
8        Cold  Yellow       1
9    Very Hot  Yellow       1

In [6]:
#One hot encoding
df1=pd.get_dummies(df,prefix=['Temp'],columns=['Temperature'])
df1

    Color  Target  Temp_Cold  Temp_Hot  Temp_Very Hot  Temp_Warm
0     Red       1          0         1              0          0
1  Yellow       1          1         0              0          0
2    Blue       1          0         0              1          0
3    Blue       0          0         1              0          0
4     Red       1          0         0              0          1
5  Yellow       0          0         0              0          1
6     Red       1          0         1              0          0
7  Yellow       0          0         1              0          0
8  Yellow       1          1         0              0          0
9  Yellow       1          0         0              1          0

In [10]:
from sklearn.preprocessing import OneHotEncoder
ohc=OneHotEncoder()
ohe=ohc.fit_transform(df.Temperature.values.reshape(-1,1)).toarray()
dfonehot=pd.DataFrame(ohe,columns=["Temp_"+str(ohc.categories_[0][i]) for i in range(len(ohc.categories_[0]))])
dfh=pd.concat([df,dfonehot],axis=1)
print(dfh)

  Temperature   Color  Target  Temp_Cold  Temp_Hot  Temp_Very Hot  Temp_Warm
0         Hot     Red       1        0.0       1.0            0.0        0.0
1        Cold  Yellow       1        1.0       0.0            0.0        0.0
2    Very Hot    Blue       1        0.0       0.0            1.0        0.0
3         Hot    Blue       0        0.0       1.0            0.0        0.0
4        Warm     Red       1        0.0       0.0            0.0        1.0
5        Warm  Yellow       0        0.0       0.0            0.0        1.0
6         Hot     Red       1        0.0       1.0            0.0        0.0
7         Hot  Yellow       0        0.0       1.0            0.0        0.0
8        Cold  Yellow       1        1.0       0.0            0.0        0.0
9    Very Hot  Yellow       1        0.0       0.0            1.0        0.0

In [ ]:
df=df1
ce_one_hot=ce.OneHotEncoder(cols="Temperature")
ce_one_hot.fit_transform(df)

In [12]:
#Label Encoding
#In this encoding, each category is assigned a value from 1 through N
from sklearn.preprocessing import LabelEncoder
df['Temp_label_encoding']= LabelEncoder().fit_transform(df.Temperature)
df

  Temperature   Color  Target  Temp_label_encoding
0         Hot     Red       1                    1
1        Cold  Yellow       1                    0
2    Very Hot    Blue       1                    2
3         Hot    Blue       0                    1
4        Warm     Red       1                    3
5        Warm  Yellow       0                    3
6         Hot     Red       1                    1
7         Hot  Yellow       0                    1
8        Cold  Yellow       1                    0
9    Very Hot  Yellow       1                    2

In [13]:
#Ordinal Encoding
#We do Ordinal encoding to ensure the encoding of variables retains the ordinal nature of the variable.

# Ordinal encoding will assign values as ( Cold(1) <Warm(2)<Hot(3)<”Very Hot(4))

Temp_dict={'Cold':1, 'Warm':2, 'Hot':3, 'Very Hot':4}
df['Temp_Ordinal']=df.Temperature.map(Temp_dict)
df

  Temperature   Color  Target  Temp_label_encoding  Temp_Ordinal
0         Hot     Red       1                    1             3
1        Cold  Yellow       1                    0             1
2    Very Hot    Blue       1                    2             4
3         Hot    Blue       0                    1             3
4        Warm     Red       1                    3             2
5        Warm  Yellow       0                    3             2
6         Hot     Red       1                    1             3
7         Hot  Yellow       0                    1             3
8        Cold  Yellow       1                    0             1
9    Very Hot  Yellow       1                    2             4

In [17]:
import sys
#!{sys.executable} -m pip install -U category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
Requirement already satisfied, skipping upgrade: patsy>=0.4.1 in c:\users\poori\anaconda3\lib\site-packages (from category_encoders) (0.5.0)
Requirement already satisfied, skipping upgrade: statsmodels>=0.6.1 in c:\users\poori\anaconda3\lib\site-packages (from category_encoders) (0.8.0)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in c:\users\poori\appdata\roaming\python\python36\site-packages (from category_encoders) (0.25.3)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in c:\users\poori\anaconda3\lib\site-packages (from category_encoders) (0.22)
Requirement already satisfied, skipping upgrade: scipy>=0.19.0 in c:\users\poori\anaconda3\lib\site-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.3 in c:\users\poori\anaconda3\lib\site-packages (from category_encoders) (1.18.0)
Requirement already satisfied, skipping upgrade: six in c:\users\poori\anaconda3\lib\site-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\poori\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.6.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\poori\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2017.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\poori\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [19]:
#Helmert Encoding
#In this encoding, the mean of the dependent variable for a level is compared to the mean of the dependent variable over all previous levels.
import category_encoders as ce
encoder=ce.HelmertEncoder(cols=['Temperature'],drop_invariant=True)
dfh=encoder.fit_transform(df['Temperature'])
df=pd.concat([df,dfh],axis=1)

In [20]:
df

,Temperature,Color,Target,Temp_label_encoding,Temp_Ordinal,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,-1.0,-1.0,-1.0
1,Cold,Yellow,1,0,1,1.0,-1.0,-1.0
2,Very Hot,Blue,1,2,4,0.0,2.0,-1.0
3,Hot,Blue,0,1,3,-1.0,-1.0,-1.0
4,Warm,Red,1,3,2,0.0,0.0,3.0
5,Warm,Yellow,0,3,2,0.0,0.0,3.0
6,Hot,Red,1,1,3,-1.0,-1.0,-1.0
7,Hot,Yellow,0,1,3,-1.0,-1.0,-1.0
8,Cold,Yellow,1,0,1,1.0,-1.0,-1.0
9,Very Hot,Yellow,1,2,4,0.0,2.0,-1.0

In [32]:
dat={'Temperature':['Hot','Cold','Very Hot','Hot','Warm', 'Warm', 'Hot', 'Hot', 'Cold','Very Hot'],
'Color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
'Target':[1,1,1,0,1,0,1,0,1,1]}
df=pd.DataFrame(dat,columns=['Temperature','Color','Target'])
df1=df

In [22]:
#Binary encoder
import category_encoders as ce
encoder=ce.BinaryEncoder(cols=['Temperature'])
dfbin=encoder.fit_transform(df['Temperature'])
df=pd.concat([df,dfbin],axis=1)
df

  Temperature   Color  Target  Temperature_0  Temperature_1  Temperature_2
0         Hot     Red       1              0              0              1
1        Cold  Yellow       1              0              1              0
2    Very Hot    Blue       1              0              1              1
3         Hot    Blue       0              0              0              1
4        Warm     Red       1              1              0              0
5        Warm  Yellow       0              1              0              0
6         Hot     Red       1              0              0              1
7         Hot  Yellow       0              0              0              1
8        Cold  Yellow       1              0              1              0
9    Very Hot  Yellow       1              0              1              1

In [23]:
#Frequency encoding
#It is a way to utilize the frequency of the categories as labels.

In [25]:
df=df1
fr=df.groupby('Temperature').size()/len(df)
df.loc[:,'Temp_freq_encode']=df['Temperature'].map(fr)
df

  Temperature   Color  Target  Temp_freq_encode
0         Hot     Red       1               0.4
1        Cold  Yellow       1               0.2
2    Very Hot    Blue       1               0.2
3         Hot    Blue       0               0.4
4        Warm     Red       1               0.2
5        Warm  Yellow       0               0.2
6         Hot     Red       1               0.4
7         Hot  Yellow       0               0.4
8        Cold  Yellow       1               0.2
9    Very Hot  Yellow       1               0.2

In [26]:
#Mean encoding
#Mean Encoding or Target Encoding is one viral encoding approach followed by Kagglers.
#Mean encoding is similar to label encoding, except here labels are correlated directly with the target.

In [27]:
df=df1
mean_encode=df.groupby('Temperature')['Target'].mean()
print(mean_encode)
df.loc[:,'Temp_mean_encoding']=df['Temperature'].map(mean_encode)
df

Temperature
Cold        1.0
Hot         0.5
Very Hot    1.0
Warm        0.5
Name: Target, dtype: float64

  Temperature   Color  Target  Temp_freq_encode  Temp_mean_encoding
0         Hot     Red       1               0.4                 0.5
1        Cold  Yellow       1               0.2                 1.0
2    Very Hot    Blue       1               0.2                 1.0
3         Hot    Blue       0               0.4                 0.5
4        Warm     Red       1               0.2                 0.5
5        Warm  Yellow       0               0.2                 0.5
6         Hot     Red       1               0.4                 0.5
7         Hot  Yellow       0               0.4                 0.5
8        Cold  Yellow       1               0.2                 1.0
9    Very Hot  Yellow       1               0.2                 1.0

In [33]:
#BaseN Encoding
#When the BaseN base = 1 it is basically the same as one hot encoding. When base = 2 it is basically the same as binary encoding.
df=df1
ce_basen=ce.BaseNEncoder(cols=['Temperature'])
ce_basen.fit_transform(df)

   Temperature_0  Temperature_1  Temperature_2   Color  Target
0              0              0              1     Red       1
1              0              1              0  Yellow       1
2              0              1              1    Blue       1
3              0              0              1    Blue       0
4              1              0              0     Red       1
5              1              0              0  Yellow       0
6              0              0              1     Red       1
7              0              0              1  Yellow       0
8              0              1              0  Yellow       1
9              0              1              1  Yellow       1

In [34]:
#Hashing encoder
df=df1
ce_basen=ce.HashingEncoder(cols=['Temperature'])
ce_basen.fit_transform(df)

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3         Hot    Blue       0
4        Warm     Red       1
5        Warm  Yellow       0
6         Hot     Red       1
7         Hot  Yellow       0
8        Cold  Yellow       1
9    Very Hot  Yellow       1

In [ ]:
#https://towardsdatascience.com/all-about-categorical-variable-encoding-305f3361fd02
#https://towardsdatascience.com/smarter-ways-to-encode-categorical-data-for-machine-learning-part-1-of-3-6dca2f71b159

In [36]:
df = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High"]})
scale_mapper = {"Low":1,
"Medium":2,
"High":3}
df["Score"].replace(scale_mapper)

0    1
1    1
2    2
3    2
4    3
Name: Score, dtype: int64

In [37]:
df = pd.DataFrame({"Score": ["Low",
"Low",
"Medium",
"Medium",
"High",
"Barely More Than Medium"]})

In [38]:
scale_mapper = {"Low":1,
"Medium":2,
"Barely More Than Medium": 3,
"High":4}
df["Score"].replace(scale_mapper)

0    1
1    1
2    2
3    2
4    4
5    3
Name: Score, dtype: int64

In [39]:
#Best Approach
scale_mapper = {"Low":1,
"Medium":2,
"Barely More Than Medium": 2.1,
"High":3}
df["Score"].replace(scale_mapper)

0    1.0
1    1.0
2    2.0
3    2.0
4    3.0
5    2.1
Name: Score, dtype: float64

In [40]:
#imputing missing class labels
import numpy as np
from sklearn.preprocessing import Imputer
X = np.array([[0, 2.10, 1.45], 
              [1, 1.18, 1.33], 
              [0, 1.22, 1.27],
              [0, -0.21, -1.19],
              [np.nan, 0.87, 1.31],
              [np.nan, -0.67, -0.22]])
imputer = Imputer(strategy='most_frequent', axis=0)

ImportError: cannot import name 'Imputer'

In [ ]:
imputer.fit_transform(X)